@import '~om';

.Breadcrumb {
  position: relative;
  padding-right: space(4);
  margin-right: space(2);
  white-space: nowrap;
  overflow: hidden;

  // Separators
  &::after {
    display: block;
    content: ' ';
    position: absolute;
    top: 50%;
    right: space(1);
    transform: translateY(-50%) rotate(25deg);
    border-right: 1px solid color(fog);
    height: 75%;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}
