@import '~om';

.Popover {
  $self: &;
  $caret-size: space(2);
  $border-width: 1rem / 16;
  $offset: space(1);

  position: relative;

  &__content {
    position: absolute;
    top: 100%;
    transform: translateY($offset);
    background-color: color(snow);
    border: $border-width solid color(elephant);
    z-index: 1;

    // Fills space of offset so hover works without issue
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -($offset);
      width: 100%;
      height: $offset;
    }
  }

  &--anchor-right {
    #{$self}__content {
      right: 0;
    }
  }

  &--anchor-left {
    #{$self}__content {
      left: 0;
    }
  }

  &__trigger {
    position: relative;
    display: inline-block;
  }

  &__caret {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;

    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: -($border-width + $offset);
      left: 50%;
      transform: translateX(-50%);
      border-left: $caret-size solid transparent;
      border-right: $caret-size solid transparent;
      border-bottom: $caret-size solid color(snow);
    }

    &:before {
      border-bottom: $caret-size solid color(ink);
    }
  }
}
