@import '~om';

.Popover {
  $self: &;
  $caret-size: space(2);
  $border-width: 1rem / 16;
  $offset: space(1);

  position: relative;

  &__content {
    position: absolute;
    background-color: color(snow);
    border: $border-width solid color(elephant);
    z-index: 1;

    // Fills space of offset so hover works without issue
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -($offset);
      width: 100%;
      height: $offset;
    }
  }

  &--anchor-topLeft {
    #{$self}__content {
      top: 100%;
      left: 0;
      transform: translateY($offset);
    }
  }

  &--anchor-topCenter {
    #{$self}__content {
      top: 100%;
      left: 50%;
      transform: translate(-50%, $offset);
    }
  }

  &--anchor-topRight {
    #{$self}__content {
      top: 100%;
      right: 0;
      transform: translateY($offset);
    }
  }

  &--anchor-bottomLeft {
    #{$self}__content {
      bottom: 100%;
      left: 0;
      transform: translateY(-#{$offset});
    }
  }

  &--anchor-bottomCenter {
    #{$self}__content {
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -#{$offset});
    }
  }

  &--anchor-bottomRight {
    #{$self}__content {
      bottom: 100%;
      right: 0;
      transform: translateY(-#{$offset});
    }
  }

  &--anchor-topLeft,
  &--anchor-topCenter,
  &--anchor-topRight {
    #{$self}__caret {
      &:after,
      &:before {
        bottom: -($border-width + $offset);
        border-bottom: $caret-size solid color(snow);
      }

      &:before {
        border-bottom: $caret-size solid color(ink);
      }
    }
  }

  &--anchor-bottomLeft,
  &--anchor-bottomCenter,
  &--anchor-bottomRight {
    #{$self}__caret {
      &:after,
      &:before {
        top: -($border-width + $offset);
        border-top: $caret-size solid color(snow);
      }

      &:before {
        border-top: $caret-size solid color(ink);
      }
    }
  }

  &__trigger {
    position: relative;
    display: inline-block;
  }

  &__caret {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-left: $caret-size solid transparent;
      border-right: $caret-size solid transparent;
    }
  }
}
