@use '~@moda/om';

.Tag {
  @include om.stack(2, $direction: horizontal);
  @include om.text(body1);

  display: inline-flex;
  align-items: center;
  padding: om.spacing(2);
  border: 1px solid om.color(elephant);
  white-space: nowrap;

  &:hover,
  &:focus {
    border-color: om.color(ink);
  }

  &--disabled {
    color: om.color(fog);

    &:hover,
    &:focus {
      border-color: om.color(elephant);
    }
  }
}
