@import '~om';

.AspectRatioBox {
  position: relative;
  width: 100%;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--outlined {
    border: 1px dotted;
  }
}
