@import '~om';

.Badge {
  @include text(eyebrow);
  display: inline-block;
  color: color(ink);
  border: 1px solid;
  padding: space(1);
  user-select: none;

  &,
  &--default {
    background-color: transparent;
    border-color: color(fog);
    color: color(cement);
  }

  &--bestseller {
    background-color: color(forest-green);
    border-color: transparent;
    color: color(snow);
  }

  &--trending {
    background-color: color(klein-blue);
    border-color: transparent;
    color: color(snow);
  }

  &--fall-essential {
    background-color: color(brick);
    border-color: transparent;
    color: color(snow);
  }
}
