@import '~om';

.Badge {
  @include text(eyebrow);
  display: inline-block;
  color: color(ink);
  border: 1px solid;
  padding: space(1);
  user-select: none;

  &,
  &--default {
    background-color: transparent;
    border-color: color(fog);
    color: color(cement);
  }

  &--forest-green {
    background-color: color(forest-green);
    border-color: transparent;
    color: color(snow);
  }

  &--klein-blue {
    background-color: color(klein-blue);
    border-color: transparent;
    color: color(snow);
  }

  &--brick {
    background-color: color(brick);
    border-color: transparent;
    color: color(snow);
  }

  &--dark-fuchsia {
    border-color: color(dark-fuchsia);
    color: color(dark-fuchsia);
    font-weight: 700;
    text-transform: none;
  }
}
