@use '~@moda/om';

.DefinitionList {
  @include om.text(body1);
  margin: 0;

  > dt,
  > dd {
    display: inline-block;
    margin: 0;
  }

  > dt {
    color: om.color(ink);
    margin-right: om.space(2);
  }

  > dd {
    &,
    > a {
      color: om.color(cement);
    }

    > a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
