@import '~om';

.Button {
  $self: &;

  @include text(eyebrow);
  display: inline-block;
  padding: spacing(4, 7);
  border: 1px solid;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  &,
  &--primary {
    color: color(snow);
    border-color: color(ink);
    background-color: color(ink);

    &#{$self}--hover,
    &:hover {
      color: color(snow);
      border-color: color(cement);
      background-color: color(cement);
    }

    &#{$self}--focus,
    &:focus {
      outline: none;
      text-decoration: underline;
      color: color(snow);
      border-color: color(fog);
      background-color: color(fog);
    }

    &#{$self}--disabled,
    &:disabled {
      color: color(cement);
      border-color: color(elephant);
      background-color: color(elephant);
      cursor: default;
      pointer-events: none;
    }
  }

  &--secondary {
    color: color(ink);
    border-color: color(ink);
    background-color: color(snow);

    &#{$self}--hover,
    &:hover {
      color: color(ink);
      border-color: color(ink);
      background-color: color(elephant);
    }

    &#{$self}--focus,
    &:focus {
      outline: none;
      text-decoration: underline;
      color: color(ink);
      border-color: color(ink);
      background-color: color(fog);
    }

    &#{$self}--disabled,
    &:disabled {
      color: color(cement);
      border-color: color(cement);
      background-color: color(elephant);
      cursor: default;
      pointer-events: none;
    }
  }
}
