@import "~@moda/tokens";

.Button {
  padding: space(2) space(4);
  color: color("black");
  background-color: color("white");
  border: 1px solid color("cement");
  font-family: font-family("sans");
  font-size: font-size(2);
}
