@import '~om';

.StatesProps {
  @include text(body1, $font: code);

  padding-top: space(2);
  color: color(fog);
  border-top: 1px dotted color(elephant);

  > strong {
    text-decoration: underline;
    color: color(ink);
  }

  &::before {
    content: '<';
    color: color(elephant);
  }

  &::after {
    content: '/>';
    color: color(elephant);
  }
}
