@import '~om';

.States {
  $code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  @include stack(6);

  &__specimen {
    border: 1px dotted color(fog);
    padding: spacing(2);
  }

  &__props {
    display: block;
    margin-top: space(2);
    padding-top: space(2);
    font-family: $code;
    font-size: font-size(1);
    color: color(fog);
    border-top: 1px dotted color(elephant);

    > strong {
      text-decoration: underline;
      color: color(ink);
    }
  }
}
