@import '~om';

.StatesProps {
  $code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  padding-top: space(2);
  font-family: $code;
  font-size: font-size(1);
  color: color(fog);
  border-top: 1px dotted color(elephant);

  > strong {
    text-decoration: underline;
    color: color(ink);
  }

  &::before {
    content: '<';
    color: color(elephant);
  }

  &::after {
    content: '>';
    color: color(elephant);
  }
}
