@use '~@moda/om';

.StatesProps {
  @include om.text(body1, $font: code);

  padding-top: om.space(2);
  color: om.color(fog);
  border-top: 1px dotted om.color(elephant);

  > strong {
    text-decoration: underline;
    color: om.color(ink);
  }

  &::before {
    content: '<';
    color: om.color(elephant);
  }

  &::after {
    content: '/>';
    color: om.color(elephant);
  }
}
