@use '~@moda/om';

.OtpInput {
  display: flex;
  gap: om.space(4);

  &__input {
    @include om.input-styles();
    @include om.text(h4);

    @include om.breakpoint(sm, $prop: max-width) {
      @include om.text(h4);
    }

    width: 2.375rem;
    min-width: 0;
    padding: om.space(2);
    text-align: center;

    &::placeholder {
      text-align: center;
    }
  }
}
