@use '~@moda/om';

.Tab {
  @include om.text(eyebrow);

  padding: om.spacing(4, 0);
  border-bottom: 2px solid transparent;
  color: om.color(cement);
  text-align: left;
  cursor: pointer;

  &--active {
    color: om.color(ink);
    border-bottom: 2px solid om.color(ink);
  }

  &:active,
  &:focus {
    outline: none;
  }
}
