@import "~@moda/om";

.Sidebar {
  @include stack(5);
  padding: space(5);
  background-color: color("noise");

  &__section {
    > h4 {
      @include text(h4);
      margin-top: 0;
      margin-bottom: space(1);
    }

    > a {
      @include text(body);
      display: block;
      padding: spacing(0, 0, 0, 2);
      transition: opacity 200ms;
      cursor: pointer;
      text-decoration: none;
      color: color("black");

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
