@import '~@moda/om';

.Sidebar {
  @include om.stack(5);
  padding: om.space(5);
  background-color: om.color(noise);

  &__section {
    > h4 {
      @include om.text(body1);
      margin-top: 0;
      margin-bottom: om.space(1);
    }

    > a {
      @include om.text(body1);
      display: block;
      padding: spacing(0, 0, 0, 2);
      transition: opacity 200ms;
      cursor: pointer;
      text-decoration: none;
      color: om.color(ink);

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
