@use '~@moda/om';

.Toast {
  color: om.color('snow');
  padding: om.spacing(3);

  &--success {
    background-color: om.color(money-good);
  }

  &--warning {
    background-color: om.color(burnt-orange);
  }

  &--error {
    background-color: om.color(code-red);
  }
}
