version: 2
defaults: &defaults
  docker:
    - image: 'circleci/node:latest'
jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: install
          command: yarn install
      - run:
          name: build
          command: yarn build
      - run:
          name: lint
          command: yarn lint
      - run:
          name: test
          command: yarn test
      - run:
          name: release
          command: yarn semantic-release || true
  test:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: install
          command: yarn install
      - run:
          name: build
          command: yarn build
      - run:
          name: lint
          command: yarn lint
      - run:
          name: test
          command: yarn test
workflows:
  version: 2
  pull_request:
    jobs:
      - test:
          context: devops-dev
  master:
    jobs:
      - build:
          context: devops-dev
          filters:
            branches:
              only:
                - master
