@import '~om';

.TopNav {
  $logoWidth: 18rem;
  $logoHeight: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    display: flex;
    flex: 1;
    width: $logoWidth;
    height: $logoHeight;
    color: color('black');
  }
}
