@mixin input-styles() {
  @include text(body1);

  //ios devices zoom in if inputs are smaller than 16px
  @include breakpoint(sm, $prop: max-width) {
    @include text(h6);
  }

  appearance: none;
  line-height: 1;
  width: 100%;
  padding: spacing(3, 4);
  border: 1px solid color(elephant);
  background-color: color(snow);
  border-radius: 0;

  &::placeholder {
    line-height: normal;
  }

  &--focus,
  &:focus {
    outline: none;
    border-color: color(ink);
  }

  &--disabled,
  &:disabled {
    color: color(elephant);
    border-color: color(elephant);
    background-color: color(noise);
  }

  &--valid {
    border-color: color(money-good);
  }

  &--error {
    &,
    &:focus {
      border-color: color(code-red);
    }
  }
}
