@mixin input-styles() {
  @include text(body1);

  appearance: none;
  line-height: 1;
  width: 100%;
  padding: spacing(3, 4);
  border: 1px solid color(elephant);
  background-color: color(snow);
  border-radius: 0;

  &::placeholder {
    line-height: normal;
  }

  &--focus,
  &:focus {
    outline: none;
    border-color: color(ink);
  }

  &--disabled,
  &:disabled {
    color: color(elephant);
    border-color: color(elephant);
    background-color: color(noise);
  }

  &--valid {
    border-color: color(money-good);
  }

  &--error {
    &,
    &:focus {
      border-color: color(elephant);
      border-bottom-color: color(code-red);
    }

    // Creates 1px thicker border without shifting contents
    box-shadow: 0 1px 0 color(code-red);
  }
}
