@import '~om';

.MultiSelect {
  $self: &;

  min-height: 2.5625rem;
  position: relative;
  display: flex;
  width: 100%;

  &__search {
    @include input-styles();
    display: flex;

    &--error {
      border: 1px solid color(code-red);
    }
  }

  &__selected-items {
    @include stack(1, $direction: horizontal);
    max-width: 80%;
    overflow: auto;
  }

  &__selected-item {
    display: flex;
    align-items: center;
    border: 1px solid color('ink');
    border-radius: space(2);
    padding: space(1);
  }

  &__selected-value {
    cursor: default;
  }

  &__exit {
    margin-left: space(1);
    cursor: pointer;
  }

  &__input {
    border: none;
    outline: none;
    flex: auto;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__icon {
    pointer-events: none;
    position: absolute;
    right: space(4);
    top: 50%;
    transform: translateY(-50%);

    &--shifted {
      right: space(6);
    }
  }
}
