@import '~om';

.MultiSelect {
  $self: &;

  min-height: 2.5625rem;
  position: relative;
  display: flex;
  width: 100%;

  &--disabled {
    cursor: default;

    #{$self}__search {
      color: color(fog);
      cursor: default;

      &:hover,
      &:focus {
        border-color: color(elephant);
        background-color: color(noise);
      }
    }
  }

  &--error {
    border: 1px solid color(code-red);
  }

  &__search {
    @include input-styles();

    display: flex;
    align-items: center;
    padding: spacing(1, 7, 1, 1);
  }

  &__selected-items {
    display: flex;
    flex-wrap: wrap;
  }

  &__selected-item {
    display: flex;
    align-items: center;
    border: 1px solid color('ink');
    border-radius: space(2);
    margin: space(1);
    padding: space(1);
  }

  &__selected-value {
    cursor: default;
  }

  &__exit {
    margin-left: space(1);
    cursor: pointer;
  }

  &__icon {
    pointer-events: none;
    position: absolute;
    right: space(4);
    top: 50%;
    transform: translateY(-50%);

    &--shifted {
      right: space(6);
    }
  }
}
