@use '~@moda/om';

.SelectOption {
  @include om.text(body1);

  display: block;
  width: 100%;
  text-align: left;
  padding: om.spacing(2, 3);
  color: om.color(ink);

  &--selected {
    text-decoration: underline;
  }

  &:hover,
  &--active {
    background-color: om.color(noise);
  }

  &--disabled {
    color: om.color(fog);
    cursor: default;

    &:hover {
      background-color: om.color('snow');
    }
  }
}
