@use '~@moda/om';

.SelectOptions {
  background-color: om.color('snow');
  border: 1px solid om.color(elephant);

  &:focus {
    outline: 0;
    border-color: om.color(cement);
  }

  &__search {
    margin: om.space(2);
  }

  &__none {
    padding: om.spacing(2, 3);
  }

  &__list {
    @include om.overflow-scroll();
    max-height: om.space(12);
  }
}
