@import '~om';

.Select {
  $self: &;

  //ios devices zoom in if inputs are smaller than 16px
  @include breakpoint(sm, $prop: max-width) {
    @include text(h6);
  }

  min-height: 2.5625rem;
  position: relative;
  display: flex;
  cursor: pointer;

  &--disabled {
    cursor: default;

    #{$self}__value {
      color: color(fog);
      cursor: default;

      &:hover,
      &:focus {
        border-color: color(elephant);
        background-color: color(snow);
      }
    }
  }

  &--error {
    border: 1px solid color(code-red);
  }

  &__value {
    @include text(body1);

    //ios devices zoom in if inputs are smaller than 16px
    @include breakpoint(sm, $prop: max-width) {
      @include text(h6);
    }

    display: block;
    width: 100%;
    text-align: left;
    padding: spacing(2, 7, 2, 3);
    color: color(ink);
    border: 1px solid color(elephant);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.8;
    cursor: pointer;

    &:hover {
      border-color: color(cement);
      background-color: color(noise);
    }

    &:focus {
      border-color: color(cement);
      background-color: color(elephant);
    }
  }

  &__icon {
    pointer-events: none;
    position: absolute;
    right: space(4);
    top: 50%;
    transform: translateY(-50%);

    &--shifted {
      right: space(6);
    }
  }

  &__options {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    &--up {
      flex-direction: column-reverse;
      bottom: 100%;
      margin-bottom: space(1);
    }

    &--down {
      flex-direction: column;
      margin-top: space(1);
      top: 100%;
    }
  }

  // we hide the field this way because with display:none or visibility:hidden Chrome does not allow click event to be fired from hidden HTML elements
  &__hidden-field {
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
}
