@import '~om';

.Select {
  $self: &;

  position: relative;
  display: flex;
  cursor: pointer;

  &__value {
    @include text(body1);

    display: block;
    width: 100%;
    text-align: left;
    padding: spacing(2, 7, 2, 3);
    color: color(ink);
    border: 1px solid color(elephant);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      border-color: color(cement);
      background-color: color(noise);
    }

    &:focus {
      border-color: color(cement);
      background-color: color(elephant);
    }
  }

  &__icon {
    position: absolute;
    right: space(4);
    top: 50%;
    transform: translateY(-50%);
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    margin-top: space(1);
  }
}
