@import '~om';

.RadioButton {
  $radio-button-size: space(4);
  $radio-button-check-offset: space(1);

  @include stack(2, $direction: horizontal);

  position: relative;
  align-items: flex-start;
  user-select: none;
  cursor: pointer;
  color: color(ink);

  &__indicator {
    position: relative;
    width: $radio-button-size;
    height: $radio-button-size;
    margin-top: space(1) / 2;
    flex-shrink: 0;
    border: 1px solid;
    border-radius: 50%;

    &--checked {
      background-color: color(ink);

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: $radio-button-check-offset;
        right: $radio-button-check-offset;
        bottom: $radio-button-check-offset;
        left: $radio-button-check-offset;
        border-radius: 50%;
        background-color: color(snow);
      }
    }
  }

  &__input {
    @include visually-hidden();
  }

  &__label {
    @include text(body1);

    color: color(ink);
  }
}
