@mixin input-styles($element-type) {
  @include stack(2);

  &__#{$element-type},
  &__label {
    @include text(body1);
    line-height: 1;
  }

  &__context {
    flex: 1;
    position: relative;
  }

  &__#{$element-type} {
    width: 100%;
    padding: spacing(3, 4);
    border: 1px solid color(elephant);
    background-color: color(snow);

    @if ($element-type == textarea) {
      resize: none;
    }

    &--focus,
    &:focus {
      outline: none;
      border-color: color(burnt-orange);
    }

    &--disabled,
    &:disabled {
      opacity: 0.75;
    }

    &--valid {
      border-color: color(money-good);
    }

    &--error {
      border-bottom-color: color(code-red);
      // Creates 1px thicker border without shifting contents
      box-shadow: 0 1px 0 color(code-red);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: space(2);
    color: color(code-red);
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__label {
    &--error {
      color: color(code-red);
    }

    &--hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}
