@import '~om';

.Clickable {
  @include text(body1);

  &:not(&--disabled) {
    cursor: pointer;
  }

  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-size: __dangerously-get-font-size__(2);
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
}
