@import '~om';

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &--overlay {
    align-items: baseline;
    background: rgba(255, 255, 255, 0.9);
    z-index: z(9990);
  }
}
