@import '~om';

.PromoBanner {
  $self: &;

  @include text(body2);

  background-color: color(cream);
  border-top: space(1) solid color(burnt-orange);

  &__constrain {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__child {
    min-width: space(11);
    padding: spacing(2, 3);
    color: color(ink);

    &--center {
      flex: 1;
      text-align: center;
    }

    &--left {
      padding-left: 0;
    }

    &--right {
      padding-right: 0;
      text-align: right;
    }

    > a {
      color: color(ink);

      @include thin-underline();
    }
  }

  @include breakpoint(sm, $prop: max-width) {
    #{$self}__child--left,
    #{$self}__child--right {
      display: none;
    }
  }
}
