@use '~@moda/om';

.Field {
  @include om.stack(1);

  &__context {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: om.space(2);
    color: om.color(code-red);
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__label,
  &__error {
    @include om.text(body1);
  }

  &__label {
    color: om.color(cement);
  }

  &__error {
    color: om.color(code-red);
    // Offset error border-thickness
    padding-top: 1px;
  }
}
