@use '~@moda/om';

.PasswordInput {
  position: relative;

  &__editor {
    padding-right: 5rem;
  }

  &__password-action {
    position: absolute;
    top: om.space(2);
    right: om.space(6);

    @include om.breakpoint(sm, $prop: max-width) {
      top: 0.7rem;
    }
  }
}
