@import '~om';

.PasswordInput {
  position: relative;

  &__password-action {
    position: absolute;
    top: space(2);
    right: space(6);

    @include breakpoint(sm, $prop: max-width) {
      top: 0.7rem;
    }
  }
}
