@import "~@moda/tokens";

.NavBarPulldown {
  display: flex;
  justify-content: center;
  padding: space(4) space(4) space(7) space(4);
  background-color: color("white");
  border-bottom: 1px solid color("noise");
  box-shadow: 0 space(4) space(4) -1em rgba(black, 0.2);
}
