@import "~om";

.NavBarPulldownSubsection {
  $self: &;
  $columnWidth: 11rem;

  min-width: $columnWidth;

  > h3 {
    @include text(h4);
    margin: spacing(3, 2);
  }

  &--default {
    > a {
      @include text(body);
      display: block;
      width: 95%;
      text-decoration: none;
      color: color("black");
      padding: space(2);

      &:hover {
        background-color: color("noise");
      }
    }
  }

  &--highlighted {
    #{$self}__links {
      display: flex;
      align-items: flex-start;

      > a {
        width: $columnWidth;
        padding: spacing(0, 2);
        text-decoration: none;

        > img {
          max-width: 100%;
        }

        > h4 {
          @include text(h2);
          margin: space(4);
          text-align: center;
          color: color("black");
        }
      }
    }
  }
}
