@import '~om';

.NavBar {
  $self: &;
  $transitionTime: 250ms;
  $transitionDelay: 100ms;

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: color(noise);
  font-family: font-family('sans');
  font-size: font-size(0);

  &__section {
    display: flex;

    > a {
      @include text(eyebrow);
      color: color(ink);
      padding: space(4);
      text-decoration: none;
      transition: color $transitionTime;
    }

    &:hover {
      // Display associated pulldown
      #{$self}__pulldown {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__pulldown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    // Fade out all but active sections
    #{$self}__section {
      > a {
        color: color(fog);
      }

      &:hover > a {
        color: color(ink);
      }
    }
  }

  &--initialized {
    #{$self}__pulldown {
      transition: opacity $transitionTime;
      transition-delay: $transitionDelay;
    }
  }
}
