@import '~om';

.NavBarPulldownSubsection {
  $self: &;
  $columnWidth: 11rem;

  min-width: $columnWidth;

  > h3 {
    @include text(eyebrow);
    margin: spacing(3, 2);
  }

  &--default {
    > a {
      @include text(body1);
      display: block;
      text-decoration: none;
      color: color(ink);
      padding: spacing(1, 2);

      &:hover {
        background-color: color(noise);
      }
    }
  }

  &--highlighted {
    #{$self}__links {
      display: flex;
      align-items: flex-start;

      > a {
        width: $columnWidth;
        padding: spacing(0, 2);
        text-decoration: none;

        > img {
          max-width: 100%;
        }

        > h4 {
          @include text(h6, serif);
          margin: space(2) 0;
          text-align: center;
          color: color(ink);
        }
      }
    }
  }
}
