@import "~@moda/tokens";
@import "font-smoothing";

$treatments: body h1 h2 h3 h4;

@mixin text($treatment: body) {
  @include font-smoothing();

  @if null == index($treatments, $treatment) {
    @error "ERROR: the treatment: '#{$treatment}' is not defined";
  }

  @if $treatment == body {
    font-family: font-family("sans");
    font-size: font-size(1);
    line-height: line-height(3);
    letter-spacing: letter-spacing(1);
  }

  @if $treatment == h1 {
    font-family: font-family("sans");
    font-size: font-size(4);
    line-height: line-height(2);
  }

  @if $treatment == h2 {
    font-family: font-family("serif");
    font-size: font-size(3);
    line-height: line-height(1);
    letter-spacing: letter-spacing(1);
  }

  @if $treatment == h3 {
    font-family: font-family("sans");
    font-size: font-size(2);
    line-height: line-height(1);
  }

  @if $treatment == h4 {
    font-family: font-family("sans");
    font-size: font-size(0);
    line-height: line-height(3);
    letter-spacing: letter-spacing(3);
    text-transform: uppercase;
  }
}
