@use '~@moda/om';

.Loading {
  padding: om.space(5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: opacity 1000ms;

  .Triangle,
  .Diamond,
  .ArcWindow,
  .Circle {
    width: om.space(7);
    height: om.space(7);
    opacity: 1;
    animation: fade 1s linear;
  }

  @keyframes fade {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}
