@import '~om';

.SiteFooterDesktop {
  > h3 {
    @include text(eyebrow);
    margin: spacing(0, 0, 3, 0);
  }

  > section {
    margin: spacing(3, 0);
  }

  &__categories {
    display: flex;
    padding: spacing(5, 0);
    margin: spacing(5, 0);
    border-top: 1px solid color(ink);
    border-bottom: 1px solid color(ink);
  }

  &__category {
    flex: 2;
    padding-right: space(6);

    > h3 {
      @include text(eyebrow);
      margin: spacing(0, 0, 3, 0);
    }

    > a {
      display: block;
      color: color(ink);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &:last-of-type {
      flex: 4;
    }
  }

  &__basement {
    display: flex;
    padding: spacing(2, 0);
    align-items: center;
    @include text(body2);

    > a {
      color: color(ink);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    margin: spacing(0, 1);
    color: color(ink);
  }
}
