@import '~om';

.SiteFooterMobile {
  padding: spacing(0, 6);
  // color: color(ink);

  > h3 {
    @include text(eyebrow);
    margin: spacing(0, 0, 3, 0);
  }

  &__buttons {
    @include stack(3, $direction: horizontal);

    > button,
    > a {
      flex: 1;
    }
  }

  &__more {
    margin-top: space(5);
    border-top: 1px solid color(ink);
  }

  &__more-links {
    > a {
      color: color(ink);
      display: block;
      text-decoration: none;
      padding: spacing(1, 0);
    }
  }

  &__download {
    @include text(eyebrow);
    display: block;
    border-top: 1px solid color(ink);
    border-bottom: 1px solid color(ink);
    color: color(ink);
    text-decoration: none;
    padding: spacing(3, 0);
  }

  &__open-hours {
    margin: space(3) 0;
    text-align: center;
  }

  &__basement {
    @include text(body2);
  }
}
