@import '~om';

.SiteFooterInlineItem {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-right: space(3);
  margin-right: space(3);

  > a {
    color: color(ink);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // Trailing pipe
  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-right: 1px solid color(ink, $opacity: 0.25);
    height: 100%;
  }

  &:last-of-type::after {
    display: none;
  }
}
