@import '~om';

@import './SiteFooterInlineItem.scss';

.SiteFooter {
  $borderWidth: space(1);

  // Double border
  border-top: $borderWidth solid color(lilac);
  box-shadow: 0 (-$borderWidth) 0 color(burnt-orange);
  margin-top: $borderWidth;

  @include text(body1);
  padding: spacing(6, 8);
  background-color: color(cream);
}
