@import '~om';

.Checkbox {
  @include stack(2, $direction: horizontal);

  position: relative;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: color(ink);

  &__indicator {
    flex-shrink: 0;
  }

  &__input {
    @include visually-hidden();
  }

  &__label {
    @include text(body2);

    color: color(ink);
  }
}
