@import '~om';

.Expandable {
  $self: &;

  display: flex;
  flex-direction: column;

  &__name {
    @include text(eyebrow);

    position: relative;
    text-align: left;
    cursor: pointer;
    padding: spacing(3, 0);
    user-select: none;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 2px;
      width: space(4);
      background-color: color(cement);
    }

    &::before {
      transform: translateY(-50%) rotate(90deg);
      transition: transform 200ms;
    }
  }

  &__contents {
    @include stack(2);
    @include text(body1);

    padding-bottom: space(3);
    display: none;
    color: color(cement);

    ul,
    ol {
      padding-left: space(4);
      list-style: disc;
    }

    > a,
    > p > a {
      @include thin-underline();

      color: color(cement);
      &:hover {
        text-decoration: none;
      }
    }
  }

  &--expanded {
    #{$self}__name {
      &::before {
        transform: translateY(-50%);
      }
    }

    #{$self}__contents {
      display: block;
    }
  }

  & + & {
    border-top: 1px solid color(noise);
  }
}
