@import '~om';

.Expandable {
  $self: &;

  display: flex;
  flex-direction: column;
  border-top: 1px solid color(noise);

  &__name {
    @include text(body1);

    position: relative;
    text-align: left;
    cursor: pointer;
    padding: spacing(3, 0);
    user-select: none;
  }

  &__name--plusMinus {
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 1px;
      width: space(4);
      background-color: color(ink);
    }

    &::before {
      transform: translateY(-50%) rotate(90deg);
      transition: transform 200ms;
    }
  }

  &__icon {
    height: 100%;
    padding-top: space(4);
    position: absolute;
    right: 0;
    top: 0;
  }

  &__contents {
    @include stack(2);
    @include text(body1);

    padding-bottom: space(3);
    display: none;
    color: color(ink);

    ul,
    ol {
      padding-left: space(4);
      list-style: disc;
    }
  }

  &--expanded {
    #{$self}__name {
      &::before {
        transform: translateY(-50%);
      }
    }

    #{$self}__contents {
      display: block;
    }
  }
}
