.Overlay {
  @include stack(2);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: color('snow', 0.9);
  justify-content: center;
  align-items: center;
  color: color('ink');
}
