@import '~om';

.Divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:before,
  &:after {
    content: '';
    flex: 1;
    border: none;
    background-color: color('cashmere');
    height: 1px;
    width: 50%;
  }

  &__text {
    width: auto;
    padding: 0px space(4);
    @include text(h2);
  }

  &--two-line {
    .Divider__text {
      @include text(h4);
    }

    &:before,
    &:after {
      $space-between-lines: 0.175rem;
      $offset: $space-between-lines/2;
      transform: translateY(calc(-#{$offset}));
      background-color: color('black');
      box-shadow: 0 $space-between-lines 0 0 color('black');
    }
  }

  &--no-line {
    &__text {
      @include text(h1);
    }

    &:before,
    &:after {
      display: none;
    }
  }
}
