@use '~@moda/om';

.Paginator {
  display: flex;
  justify-content: center;

  &__button {
    @include om.text(body1);

    border: none;
    height: om.space(6);
    width: om.space(6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: om.space(1);
    margin-left: om.space(1);
    background-color: transparent;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: om.color(noise);
    }

    &--next,
    &--previous {
      width: fit-content;
    }

    &--currentPage {
      background-color: om.color(noise);
    }
  }

  &__next-chevron {
    margin-left: om.space(2);
  }

  &__previous-chevron {
    margin-right: om.space(2);
  }

  &__button--ellipsis {
    cursor: auto;

    &:hover {
      background: transparent;
    }
  }
}
