@use 'sass:map';
@use '~@moda/om';

.Constrain {
  width: 90%;
  margin: 0 auto;
  max-width: map.get(om.$breakpoints, xl);

  @include om.breakpoint(md, $prop: max-width) {
    width: 100%;
    padding: om.spacing(0, 6);
  }

  @include om.breakpoint(sm, $prop: max-width) {
    width: 100%;
    padding: om.spacing(0, 4);
  }

  @include om.breakpoint(xs, $prop: max-width) {
    width: 100%;
    padding: om.spacing(0, 2);
  }
}
