@use '~@moda/om';

.ExceedConstrain {
  @include om.breakpoint(md, $prop: max-width) {
    margin: 0 -#{om.space(6)};
  }

  @include om.breakpoint(sm, $prop: max-width) {
    margin: 0 -#{om.space(4)};
  }

  @include om.breakpoint(xs, $prop: max-width) {
    margin: 0 -#{om.space(2)};
  }
}
